@import "tailwindcss";

:root {
  --black: #050406;
  --brunswick-green: #0F4335;
  --rose-quartz: #B99FAF;
  --black-2: #050103;
  --black-3: #000000;
}

/* Optional: for gradient experimentation */
:root {
  --gradient-main: radial-gradient(#050406, #0F4335, #B99FAF, #050103, #000000);
}

@layer utilities {
  .bg-black-custom {
    background-color: var(--black);
  }

  .text-neon-green {
    color: #00ffa3;
  }

  .bg-neon-pink {
    background-color: #f4388d;
  }

  .bg-brunswick {
    background-color: var(--brunswick-green);
  }

  .bg-rose {
    background-color: var(--rose-quartz);
  }

  .text-black-custom {
    color: var(--black);
  }

  .text-rose {
    color: var(--rose-quartz);
  }

  .border-neon {
    border: 1px solid var(--rose-quartz);
  }

  .glow-box {
    box-shadow: 0 0 10px var(--rose-quartz), 0 0 30px var(--brunswick-green);
  }

  .bg-splash-gradient {
    background-image: var(--gradient-main);
    background-size: cover;
    background-position: center;
  }
}

.wallet-adapter-button-trigger {
  @apply bg-[#f4388d] text-white hover:bg-green-500 rounded-4xl px-4 py-2 font-semibold;
}